@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@font-face { font-family: 'Regular-Bold'; src: url(fonts/regular/Regular-Bold.eot) format('embedded-opentype'); src: url(fonts/regular/Regular-Bold.otf) format('opentype'), url(fonts/regular/Regular-Bold.ttf) format('truetype'), url(fonts/regular/Regular-Bold.svg#Regular-Bold) format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Regular-Medium'; src: url(fonts/regular/Regular-Medium.eot) format('embedded-opentype'); src: url(fonts/regular/Regular-Medium.otf) format('opentype'), url(fonts/regular/Regular-Medium.ttf) format('truetype'), url(fonts/regular/Regular-Medium.svg#Regular-Medium) format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Regular-Regular'; src: url(fonts/regular/Regular-Regular.eot) format('embedded-opentype'); src: url(fonts/regular/Regular-Regular.otf) format('opentype'), url(fonts/regular/Regular-Regular.ttf) format('truetype'), url(fonts/regular/Regular-Regular.svg#Regular-Regular) format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Regular-Semibold'; src: url(fonts/regular/Regular-Semibold.eot) format('embedded-opentype'); src: url(fonts/regular/Regular-Semibold.otf) format('opentype'), url(fonts/regular/Regular-Semibold.ttf) format('truetype'), url(fonts/regular/Regular-Semibold.svg#Regular-Semibold) format('svg'); font-weight: normal; font-style: normal; }

body {
    font-family: 'Regular-Regular';
    font-size: 16px;
    padding-left: 0px;
    padding-top: 0px;
    font-weight: 200;
    color: #717172;
    margin: 0;
    font-weight: normal;
}

.btn {
    position: relative;
    height: 34px;
    min-width: 200px;
    
}

.btn-default {
    color: #fff;
    background-color: #0075CA;
    border: none;
    display: block;
}
.btn-default:hover,
.btn-default:focus {
background-color: #024E86;
color: #fff;
}

.content-iframe-pago {
    max-width: 750px;
}

.congradienteOscuro {
    background: -webkit-gradient(linear, left top, right top, from(#0081C6), to(#fff));
    background: -o-gradient(linear, left top, right top, from(#0081C6), to(#fff));
    background: -moz-linear-gradient(left top, #0081C6, #fff 99%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr=#FF0081C6, endColorStr=#FFFFFFFF, GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0081C6, endColorstr=#FFFFFFFF, GradientType=1)";
}

.fisheye {
    text-align: center;
    position: relative;
    width: 70%;
    margin: auto;
}

.fisheyeContainter {
    margin-bottom: 0px;
    clear: both;
    overflow: hidden;
    padding: 0;
    list-style: none;
}

.fisheyeContainter li {
    padding: 0px;
    width: 15.66666667%;
    display: inline-block;
}

a.fisheyeItem {
    display: block;
}

a.fisheyeItem img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a.fisheyeItem:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

a.fisheyeItem2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    width: 40px;
    position: absolute;
    display: block;
    bottom: 0;
}

.fisheyeItem img {
    border: none;
    margin: 0 auto 5px auto;
    width: 100%;
}

.fisheyeItem2 img {
    border: none;
    margin: 5px auto 0 auto;
    width: 100%;
}

.fisheyeItem span,
.fisheyeItem2 span {
    display: none;
    position: absolute;
}

h2.titleReserva {
    font-weight: 500;
    line-height: 1.1;
    background-color: #0075CA;
    color: #FFF;
    font-size: 15px;
    padding: 7px 10px;
    margin: 20px 0;
}
.module {
    width: 90%;
    clear: both;
    overflow: hidden;
    margin: auto;
    margin-bottom: 15px;
}

.module h3,
.module h4,
.module h5 {
    font-weight: normal;
    font-family: 'Regular-Medium';
    color: #0075CA;
}
.module h3 {
    font-size: 15px;
    padding: 7px 10px;
    margin: 0 0 20px 0;
    background-color: #c3e2ff;
    color: #0065af;
}

.module .precio {
    color: #0075CA;
    font-size: 20px;
    font-family: 'Regular-Semibold';
}

.strong,
strong {
    font-weight: normal;
    font-family: 'Regular-Medium';
}

.module.extender .row span {
display: block;
}

.module.extender .row img {
    margin: 15px auto;
}

.module.extender .row .btn{
    max-width: 150px;
    margin: auto;
}




.item {
    clear: both;
    margin-top: 15px;
    padding-right: 15px;
    overflow: hidden;
    margin: 5px 0;
}

.item > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-hs {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 15px;
}

.img-hs p {
    font-size: large;
    font-weight: bold;
    color: #0080C1;
    margin: 0;
    text-align: center;
}

.desc {
    display: inline-block;
    float: left;
    width: 56%;
    padding: 0 20px;
}

.desc h4 {
    color: #0080C1;
    font-weight: bold;
    font-size: smaller;
    margin: 5px 0;
}

.desc p {
    color: gray;
    font-size: x-small;
}

.ext {
    width: 100%;
    background-color: #E6E6E6;
    color: #0080C1;
    display: inline-block;
    float: right;
    width: 23%;
    text-align: center;
    padding: 10px 20px;
    font-size: small;
    font-weight: bold;
}

.ext span {
    font-size: large;
    font-weight: bold;
    display: block;
}

.ext a {
    padding: 7px 3px;
    background-color: #007CC2;
    font-size: large;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

@media (max-width:768px) {
    .fisheyeContainter li {
        width: 19.666667%;
    }
    .item {
        margin: auto;
        padding-right: 0px;
    }
    .desc {
        width: 50%;
        padding: 0 5px;
    }
    .ext {
        padding: 5px;
        width: 30%;
        margin-top: 20px;
    }
}

@media (max-width:414px) {
    .fisheye {
        width: 85%;
    }
    .img-hs {
        width: 30%;
    }
    .desc {
        width: 70%;
    }
    .ext {
        width: 100%;
    }
}
