body {
	    font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4 {
	color: #006DA7;
	font-family: "Neo_Sans_Medium";
}

h1{
	text-transform: uppercase;
	font-size: 18px;
}

h2 {
	font-size: 16px;
}
h3, h2.small {
	font-size: 14px;
}

input, button, select, textarea, .form-control {
	border-radius: inherit;
	height:30px;
	border: 1px solid #0082c6;
	font-size: 12px;
}
ul.list-arrow {
	padding-left: 18px;
}

ul.list-arrow li{
	position: relative;
	margin-bottom: 10px;
}
ul.list-arrow li:before {
	content: "→";
	position: absolute;
    left: -18px;
    top: 0;
    bottom: 0;
}
.form-control {
	    color: #6D6D6D;
}
.form-control.date {
cursor: pointer;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: inherit;
}
.form-control:focus {
    border-color: #3bbbff;
    color: #006DA7;
} 
.control-label {
	color: #006DA7;
	font-size: 12px;
	font-weight: normal;
}
select.control-label  {
	color: #555555;
}
option:hover {
	background-color: #006DA7;
	color: #ffffff;
}
a {
    color: #006DA7;
}
a:hover {
    color: #186796;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}
.row > div {
	padding-left: 5px;
    padding-right: 5px;
}
hr {
	border-top:1px solid #006DA7;
	color: #006DA7;
	margin: 10px 0px;
}

.btn {
	border-radius: inherit;
	height: 30px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;

	border: none;
}
.btn-default {
	background-color: #006DA7; 
	color: #FFFFFF;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:focus,
.btn-default.focus{
	background-color:#186796;
	background-color: #005786;
	border: none;
	color: #FFFFFF;
}
.btn-secondary {
	color: #186796;
	background-color: #96c6ec;
}
.btn-secondary:hover {
	background-color: #87C0EC;
	color: #186796;
}


.form-group-icon {
	position: relative;
}
.form-group-icon .glyphicon {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*    pointer-events: none; */
        color: #B9B9B9;
        color: #006DA7;
        color: #6D6D6D;
        
}
/*   .form-group-icon .glyphicon-calendar {
	pointer-events: none;
} */

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
#wrapper .content {
	height: 900px;
}
.home .modal-backdrop {
   background-color: #006DA7;
   background-color: #FFFFFF;
}
.modal-info .modal-content {
    border-radius: inherit;
    border: 1px solid #006DA7;
    box-shadow: none;
}
.modal-info .modal-header {
	background-color: #006DA7;
    color: #FFF;
}
.modal-info .modal-header .modal-title {
	color: #FFF;
	font-size: 16px;
}
.modal-info .modal-header .close {
    margin-top: -11px;
    color: #FFF;
}
.modal-search label {
	    color: #006DA7;
    font-size: 12px;
    font-weight: normal;
}
.modal-search select { 
	    height: 150px;
}

.legal {margin-top: 15px; color: #cccccc; color: #666666}

.table>thead>tr>th {
	text-transform: uppercase; 
	text-align: center;
	    background-color: #e6f7ff;
	        color: #006DA7;
}
.table>tbody {
	font-size: 12px;
}
caption {
	color: #006DA7;
    font-family: "Neo_Sans_Medium";
}
.carousel-info {
	margin-bottom: 15px;
}
.carousel-info .carousel-inner {
    background-color: #ebf7ff;
    padding: 10px 15px;
}
.carousel-info .info {
}
.carousel-info .carousel-indicators {
	    right: 5px;
    left: inherit;
    width: inherit;
    top: 5px;
}
.carousel-info .carousel-indicators li {
	    text-indent: inherit;
	    width: 19px;
    height: 19px;
    background-color: transparent;
    border:none;
    margin: 0px;
    margin-left: 2px;
}
.carousel-info .carousel-indicators li.active {
	color: #006DA7;
}
.strong {font-weight: bold;}
.underline {text-decoration: underline;}

.well-blue {
	background-color: #e6f7ff;
	padding: 15px;
	position: relative;
}
.btn-close {
	position: absolute;
    top: 5px;
    right: 5px;
    line-height: 15px;
    width: 18px;
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.error {
	border: 1px solid #FFBABA;
    padding: 15px 30px;
    /**
    color: #E47979;
    **/
    color: #D32B2B;
    text-align: center;
    margin: 20px 0;
}
.error .glyphicon {
	margin-right: 10px;
}
.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label,
.has-error .glyphicon  {
color: #D32B2B;
}

.box-blue {        
	background-color: #e6f7ff;
    padding: 15px;
    color: #4A4A4A;
}
.blue1 {background-color: #05617F; color: #FFF;}
.blue2 {background-color: #007DA7; color: #FFF;}
.blue3 {background-color: #e6f7ff; color: #4A4A4A;}
.blue4 {background-color: #D0ECF9; color: #252525;}

/** CAMBIOS 10-11 DIC  **/
legend.control-label {
	border-bottom: none;     
	margin-bottom: 5px;
}
.utilityNav {
    position: relative;
    position: absolute;
}
.utilityNav a {
	position: absolute;
	opacity: 0;
	left: -999px;
    top: 5px;
    width: 100px;
}
.utilityNav a:focus {
	opacity: 1;
	left: 5px;
    top: 5px;
}
.form-group-date {
	width: 33.33%; 
	float: left; 
}
.form-group-date:first-child {
	margin-left: 0px;
}
.form-group-date select {
	border-right: none;
	padding: 5px;
}
.form-group-date:last-child select {    
	border: 1px solid #0082c6;

}
.form-group-icon input,
.form-group-icon span {
	cursor: pointer;
}
/** / CAMBIOS 10-11 DIC  **/